<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginForm.css}">
</head>
<body>
<div class="headr" th:insert="~{/modules/header}"></div>
<!-- //header -->
<div class="container">
    <section class="py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <div class="row flex justify-content-center">
                <div class="col-lg-8 col-md-8">
                    <div th:if="${sent}">Check your email for further instructions.</div>
                    <h3 class="pb-3">Please enter your password</h3>
                    <form method="post" th:action="@{/requestPasswordReset}">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group contact-forms">
                                <input type="text" class="form-control" placeholder="Email" required="">
                            </div>
                        </div>
                        <button type="submit" class="login100-form-btn">Reset password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="bottom-footer" th:insert="~{/modules/footer.html}"></div>

</body>
</html>