<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Cabin:400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginForm.css}">
</head>
<body>
<div class="headr" th:insert="~{/modules/header}"></div>
<!-- //header -->
<div class="container">
    <section class="py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form th:action="@{/setNewPassword}" method="post"
                          class="login100-form validate-form p-l-55 p-r-55 p-t-178">
            <span class="login100-form-title">
                Set new password
            </span>

                        <div class="wrap-input100 validate-input m-b-16" data-validate="New password">
                            <input class="input100" type="password" name="password" placeholder="Password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Repeat password">
                            <input class="input100" type="password" name="repeatPassword" placeholder="Repeat password">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="d-none">
                            <input type="text" name="token" th:value="${param.token}">
                        </div>

                        <div class="container-login100-form-btn my-5">
                            <button class="login100-form-btn">
                                Set new password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>

<div class="bottom-footer" th:insert="~{/modules/footer.html}"></div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/js/formValidation.js}"></script>
</body>
</html>