<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          type="text/css">
</head>
<body>

<div class="headder-top d-lg-flex justify-content-between align-items-center py-3">
    <div id="logo">
        <h1>
            <a href="/index">Spring Boot Website</a>
        </h1>
    </div>
    <div>
        <nav>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu">
                <li>
                    <a href="/index" class="active">Home</a>
                </li>
                <li>
                    <a href="/premium/topCompanies" th:href="@{../premium/premium}">Premium</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <label for="drop-2" class="toggle toogle-2">Account
                        <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">Account
                        <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                        <li>
                            <a href="/user/account" class="drop-text">Account information</a>
                        </li>
                        <li>
                            <a href="/user/security" class="drop-text">Change password</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a sec:authorize="isAnonymous()" href="/login">Login</a>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input id="logout" type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
